/*  NAVBAR */
.navbar {
  background-color: #CB3221;
  margin: 0;
  padding: 0;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 50;
  line-height: 1;
  padding-left: 10%;
}
.navlogo {
  height: 70px;
  margin-top: 5px;
}
.navbutton {
  display: none;
}
.navpages {
  position: relative;
  float: right;
  background-color: inherit;
  margin-top: 0;
  padding: 0;
  display: block;
  z-index: 10;
  margin-right: 20%;
}
/* Page buttons */
.navpages > li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  margin-left: -5px;
  z-index: 10;
  position: relative;
}
/* Page button text/link */
.navpages > li > a {
  position: relative;
  margin: 0px;
  color: #fdfdfd;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  z-index: 10;
  transition: all 0.2s ease-in;
  line-height: 1;
  letter-spacing: 0.5px;
}
.navpages > li > a:hover {
  background-color: #322e2b;
  padding-top: 23px;
}

/* Sub menu content */
.navsubcontent {
  display: none;
  position: fixed;
  background-color: #eeeeee;
  min-width: 190px;
}
.navsubcontent > a {
  margin: 0px;
  color: #181818;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  transition: all 0.2s ease-in-out;
  line-height: 1;
}
.navsubcontenttitle {
  background-color: #9b9b9b;
  font-weight: bold;
}
.navpages > li > a:hover > .navsubcontent {
  display: block;
}
.navsubcontent > a:hover {
  background-color: #322e2b;
  color: #fdfdfd;
  padding-left: 20px;
}
.navpages .active {
  background-color: #181818;
  color: #fdfdfd;
}

.navpages .active:hover,
.navpages .active:focus {
  background-color: #181818;
}

@media (max-width: 1024px) {
  .navbar {
  }
  .navlogo {
    margin-left: -7%;
  }
  .navpages {
    margin-right: 13%;
  }
}

@media (max-width: 768px){
  .navbar {
  }
  .navlogo {
  }
  .navpages {
    display:none;
    margin-right: 10%;
    margin-top: 80px;
  }
  .navpages > li {
    display: block;
    min-width: 200px;
    min-height: 60px;
    margin-left: 0px;
    margin-bottom: 0px;

  }
  .navpages > li > a {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navpages > li > a:hover {
    background-color: #322e2b;
  }

  .navbutton {
    display: block;
    padding: 0px;
    margin: 0px;
    float: right;
    margin-left: -100%;
    margin-right: 10%;
    cursor: pointer;
    min-width: 200px;
    position: relative;
    z-index: 20;
    background-color: inherit;
  }
  .navbutton > p {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
    color: #fdfdfd;
  }
  .navbutton > p > img {
    padding: 0;
    margin: 0;
  }
  .navsubcontent {
    position: relative;
    min-height: 40px;
  }
}

@media (max-width: 512px){
  .navlogo {
  }

  .navpages > li {
    min-width: 140px;
  }
  .navpages > li > a {
    font-size: 14px;
  }

  .navbutton {
    min-width: 140px;
  }

  .navsubcontent {
    max-width: 140px;
  }

  .navsubcontent > a {
    font-size: 12px;
  }

}

@media (max-width: 420px){
  .navbar {
    padding: 0;
  }
  .navlogo {
    display: block;
    margin: auto;
    margin-top: 5px;
  }
  .navpages {
    float: left;
    margin: auto;
    width: 100%;
  }
  .navpages > li {
    width: 100%;
  }
  .navbutton {
    float: left;
    width: 100%;
    margin: auto;
  }
  .navbutton > p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navsubcontent {
    max-width: none;
    width: 100%;
  }
}

@media (max-height: 768px){
  @media (max-width: 768px) {
    .navbar {
      position: absolute;
    }

    .navpages > li {
      min-height: 50px;
    }
    .navpages > li > a,
    .navpages > li > a:hover {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .navsubcontent {
      min-height: 30px;
    }
  }
}
